<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
    <body>
        <header>
            <a href="{% url 'cart' %}">
                <img src="{% static 'img/icons8-cart-100.png' %}"
                     class="btn_cart" alt="Cart" width="75" height="75"></a>
        </header>
        <main>
            {% for one in products %}
            <div class="cart">
                <img src="{% static one.image %}" alt="">
                <p>{{ one.desription }}</p>
                <p>{{ one.price }} &#36;</p>
                <a href="{% url 'buy' one.id %}">
                    <button>Buy</button>
                </a>
            </div>
            {% endfor %}
        </main>
    </body>
</html>